@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}